<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/find.css">
</head>

<body>

    <% for (let user of users) { %>
        <% if ( Math.abs(user.age - cur_user_age) < 2 ) { %>

            <% if(id!=user.id){ %>
                <form action="/twitter/follow/<%= user._id %>">

                    <h1>
                        <%= user.username %>
                    </h1>
                    <% if (cur_user.followers.includes(user.id)){ %>
                        <button>following</button>
                        <% }else{ %>
                            <button>follow</button>
                            <% } %>

                </form>

                <% } %>
                    <% } %>
                        <% } %>


</body>

</html>