<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/new.css">
</head>

<body>

    <div id="newcard">
        <h1>twitter</h1>
        <form action="/twitter" method="POST" enctype="multipart/form-data">
            <div class="inp">
                <label for="tweet">enter the tweet </label>
                <input type="text" name="tweet" id="tweet">
            </div>

            <div class="inp">
                <label for="img">enter the image</label>
                <input type="file" name="img" id="img">
            </div>
            <button>submit</button>
        </form>

    </div>


</body>

</html>